body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-bar {
  background: #553e60;
  background: -webkit-linear-gradient(to right, rgb(159, 123, 173, 1), rgb(254, 254, 255, 1));
  background: linear-gradient(to right, rgb(159, 123, 173, 1), rgb(254, 254, 255, 1));
  backdrop-filter: blur(50px);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .3);
}

.nav-items {
  font-weight: 700;
  float: right;
  font-size: larger;
}

.nav-item {
  padding-right: 15px;
}

.navbar {
  list-style: none;
}

.me-auto {
  margin-left: 20px;
}

.navbar-button {
  margin-right: 12px;
}

.animal-txt {
  padding: 10px;
}

.animal-container {
  padding: 10px;
  margin-bottom: 40px;
}

.animal-card {
  margin: 5px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .7);
  display: flex;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.animal-img {
  max-inline-size: 100%;
  block-size: auto;
  aspect-ratio: 3/2;
  object-fit: cover;
  object-position: center;
}

.animal-txt {
  display: flex;
  align-items: center;
  justify-content: center;
}

.activity-img {
  max-inline-size: 100%;
  block-size: auto;
  aspect-ratio: 2/2;
  object-fit: cover;
  object-position: center;
}

.activity-time {
  font-weight: 500;
}

/* .schedule-details-background {
  background-image: url("https://prod.speakcdn.com/sitefiles/2147/images/cheeta-pattern.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

.details-card {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.details-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-top {
  display: flex;
  margin: 30px;
  justify-content: center;
  align-items: center;
}

.new-button {
  display: flex;
  margin: 30px;
  justify-content: center;
  align-items: center;
}

.schedules-header {
  font-size: 50px;
  font-weight: 700;
}

.buttons {
  margin-top: 10px;
}

.schedule-buttons {
  display: flex;
  justify-content: flex-end;
}

.schedule-buttons2 {
  display: flex;
  justify-content: center;
}

.del-button {
  margin-left: 5px;
}

.x-button {
  display: flex;
  justify-content: end;
}

.schedule-table {
  margin: 30px;
}

.banner-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('./images/banner-wolf6.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  max-inline-size: 100%;
  block-size: auto;
  aspect-ratio: 8.5/2;
  object-fit: cover;
  object-position: top center;
  margin-bottom: 100px;
  z-index: -1;
}

.banner-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.banner-bottom {
  max-inline-size: 100%;
  min-width: 100%;
  text-align: center;
  position: relative;
  top: 92%;
  block-size: auto;
  object-fit: cover;
  object-position: center;
}

.card-top {
  background: #bb95c6;
  backdrop-filter: blur(50px);
  font-size: 20px;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-image2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('./images/banner-tiger.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  max-inline-size: 100%;
  block-size: auto;
  aspect-ratio: 8.5/2;
  object-fit: cover;
  object-position: top center;
  margin-bottom: 100px;
  z-index: -1;
}

.banner-image3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('./images/banner-bear.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  max-inline-size: 100%;
  block-size: auto;
  aspect-ratio: 8.5/2;
  object-fit: cover;
  object-position: top center;
  margin-bottom: 100px;
  z-index: -1;
}

.banner-image-4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('./images/banner-cheetah3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  max-inline-size: 100%;
  block-size: auto;
  aspect-ratio: 8.5/2;
  object-fit: cover;
  object-position: top center;
  margin-bottom: 100px;
  z-index: -1;
}

.banner-image-5 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('./images/banner-elephant.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  max-inline-size: 100%;
  block-size: auto;
  aspect-ratio: 8.5/2;
  object-fit: cover;
  object-position: top center;
  margin-bottom: 100px;
  z-index: -1;
}

.banner-image-home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('./images/banner-zebra.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  max-inline-size: 100%;
  block-size: auto;
  aspect-ratio: 8.5/2;
  object-fit: cover;
  object-position: top center;
  margin-bottom: 100px;
  z-index: -1;
}

.logo-img {
  border: 2px solid black;
  width: 140px;
  height: auto;
  position: absolute;
  top: .5em;
  left: 1em;
  display: inline;
  z-index: 5;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .7);
}

.date-container {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: large;
}

.time-hidden {
  display: none;
  background-color: #392443;
  color: #fefeff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  width: 100px;
  bottom: 110%;
  left: 50%;
  margin-left: -60px;

  position: absolute;
  z-index: 1;
}

.schedule-details-activity-name:hover+.time-hidden {
  display: block;
}

.schedule-details-date-text {
  font-size: 30px;
  font-weight: 600;
}