@import url('https://fonts.cdnfonts.com/css/wild-and-crazy');
@import url('https://fonts.cdnfonts.com/css/adventpsychosis');
@import url('https://fonts.cdnfonts.com/css/smiling-animal');

body {
  
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.banner-text{
  font-family: 'Smiling Animal', sans-serif;
  font-size: 70px;
}

.nav-bar {
  background: #553e60;
  background: -webkit-linear-gradient(to right, rgb(159, 123, 173, 1), rgb(254, 254, 255, 1));
  background: linear-gradient(to right, rgb(159, 123, 173, 1), rgb(254, 254, 255, 1));
  backdrop-filter: blur(50px);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .3);
}

.footer{
  text-align: center;
  background: #553e60;
  background: -webkit-linear-gradient(to right, rgb(159, 123, 173, 1), rgb(254, 254, 255, 1));
  background: linear-gradient(to right, rgb(159, 123, 173, 1), rgb(254, 254, 255, 1));
  backdrop-filter: blur(50px);
}

.nav-items {
  font-weight: 700;
  float: right;
  font-size: larger;
}

.nav-item {
  padding-right: 15px;
}

.navbar {
  list-style: none;
}

.me-auto {
  margin-left: 20px;
}

.navbar-button {
  margin-right: 12px;
}

.animal-txt {
  padding: 10px;
}

.animal-container {
  padding: 10px;
  margin-bottom: 40px;
}

.animal-card {
  margin: 5px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .7);
  display: flex;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.animal-img {
  max-inline-size: 100%;
  block-size: auto;
  aspect-ratio: 3/2;
  object-fit: cover;
  object-position: center;
}

.animal-txt {
  display: flex;
  align-items: center;
  justify-content: center;
}

.activity-img {
  max-inline-size: 100%;
  block-size: auto;
  aspect-ratio: 2/2;
  object-fit: cover;
  object-position: center;
}

.activity-time {
  font-weight: 500;
}

.details-card {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom:100px;
}

.details-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-top {
  display: flex;
  margin: 30px;
  justify-content: center;
  align-items: center;
}

.new-button {
  display: flex;
  margin: 30px;
  justify-content: center;
  align-items: center;
}

.schedules-header {
  font-size: 50px;
  font-weight: 700;
}

.buttons {
  margin-top: 10px;
}

.schedule-buttons {
  display: flex;
  justify-content: flex-end;
}

.schedule-buttons2 {
  display: flex;
  justify-content: center;
}

.add-button{
  margin-right: 8px;
}

.del-button, .cancel-button {
  margin-left: 5px;
}

.x-button {
  display: flex;
  justify-content: end;
}

.schedule-table {
  margin: 30px;
}

.schedules-container, .schedule-details-page, .login-page{
  min-height: 100vh;
}

.banner-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('./images/banner-wolf6.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  max-inline-size: 100%;
  block-size: auto;
  aspect-ratio: 8.5/2;
  object-fit: cover;
  object-position: top center;
  margin-bottom: 100px;
  z-index: -1;
}

.banner-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.banner-bottom {
  max-inline-size: 100%;
  min-width: 100%;
  text-align: center;
  position: relative;
  top: 92%;
  block-size: auto;
  object-fit: cover;
  object-position: center;
}

.card-top {
  background: #bb95c6;
  backdrop-filter: blur(50px);
  font-size: 20px;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-image2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('./images/banner-tiger.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  max-inline-size: 100%;
  block-size: auto;
  aspect-ratio: 8.5/2;
  object-fit: cover;
  object-position: top center;
  margin-bottom: 100px;
  z-index: -1;
}

.banner-image3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('./images/banner-bear.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  max-inline-size: 100%;
  block-size: auto;
  aspect-ratio: 8.5/2;
  object-fit: cover;
  object-position: top center;
  margin-bottom: 100px;
  z-index: -1;
}

.banner-image-4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('./images/banner-cheetah3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  max-inline-size: 100%;
  block-size: auto;
  aspect-ratio: 8.5/2;
  object-fit: cover;
  object-position: top center;
  margin-bottom: 100px;
  z-index: -1;
}

.banner-image-5 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('./images/banner-elephant.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  max-inline-size: 100%;
  block-size: auto;
  aspect-ratio: 8.5/2;
  object-fit: cover;
  object-position: top center;
  margin-bottom: 100px;
  z-index: -1;
}

.home-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://prod.speakcdn.com/sitefiles/2147/images/cheeta-pattern.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  z-index: -4;
}

.logo-img {
  border: 2px solid black;
  width: 140px;
  height: auto;
  position: absolute;
  top: .5em;
  left: .7em;
  display: inline;
  z-index: 5;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .7);
}



.date-container {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: large;
}

.schedule-details-activity-name:hover+.time-hidden {
  display: block;
}

.schedule-details-date-text {
  font-size: 30px;
  font-weight: 600;
}

.login-page{
  margin-top: 200px;
  margin-left: 20px;
  margin-right: 20px;
}

/* Slideshow */

.picture-carousel{
  position: relative;
  z-index: -1;
}

.slideshow {
  padding-top: 30px;
  margin: 0 auto;
  overflow: hidden;
  max-width: 1300px;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  position: relative;
  max-height: 670px;
  width: 100%;
  border-radius: 40px;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position:top center;
}

.zoo-map{
  margin-top: -50px;
  margin-bottom:20px;
}

.hours-container {
  width: 150px;
  height: auto;
  position: absolute;
  top: .2em;
  left: 11em;
  display: inline;
  z-index: 5;
}

.open-today {
  font-size: 20px;
  font-weight: 700;
}

.time-open {
  font-size: 12px;
}

.home-container2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  background-color: #c0abc8;
  border-radius: 40px;

  overflow: hidden;
  max-width: 1300px;
}

.home-container3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 100px;
  background-color: #c0abc8;
  border-radius: 40px;

  overflow: hidden;
  max-width: 1300px;
}

.home-fox-picture{
  width: 35%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: top center;
}

.home-elephant-picture {
  width: 35%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: right center;
}

.home-text{
  text-align: center;
  font-size: 150%;
  font-weight: 800;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 50px;
}

@media (max-width: 1300px) {
  .home-text {
    font-size: 110%;
    line-height: 30px;
  }
}

@media (max-width: 900px) {
  .home-text {
    font-size: 100%;
    line-height: 20px;
  }
}

@media (max-width: 650px) {
  .home-text {
    font-size: 70%;
    line-height: 15px;
  }
}
