body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-bar{
  background: #c471f5;
  background: -webkit-linear-gradient(to right, rgba(196, 113, 245, 1), rgba(250, 113, 205, 1));
  background: linear-gradient(to right, rgba(196, 113, 245, 1), rgba(250, 113, 205, 1));
  backdrop-filter: blur(50px);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
}

.nav-items{
  text-align: end;
  margin-right: 12px;

}

.navbar {
  list-style: none;
}

.me-auto{
  margin-left: 20px;
}

.navbar-button{
  margin-right: 12px;
}

.animal-txt{
  padding: 10px;
}

.animal-container{
padding: 10px;
}

.animal-card{
  margin: 5px;
}

.animal-img{
  object-fit: cover;
  min-height: 250px;
  max-height: 350px;
}

.container-top {
  display: flex;
  margin: 30px;
  justify-content: space-between;
  align-items: center;
}

.schedules-header{
  font-size: 50px;
  font-weight: 700;

}

.buttons {
  margin-top: 10px;
}

.new-button {
}

.schedule-buttons{
  display: flex;
  justify-content: flex-end;
}

.schedule-buttons2{
  display: flex;
  justify-content: center;
}

.del-button{
  margin-left: 5px;
}

.schedule-table{
  margin: 30px;
}